@tailwind base;
@tailwind components;

.header-wrap {
    @apply flex flex-row h-16 bg-slate-700 text-white p-4 mb-3 text-2xl;
}

.header-wrap > .title {
    @apply text-center w-full h-full;
}
.header-wrap > .title > .title-text {
    @apply self-center items-center;
}
.header-wrap > .icon {
    @apply text-center w-[14%] h-full;
}
.header-wrap > .icon > img {
    @apply w-10 h-10
}

.content-wrap {
    @apply flex flex-col gap-2 w-full text-lg;
}

.todo-list-wrap {
    @apply flex bg-slate-400 text-stone-50 h-14 p-2 mx-2 border border-solid border-slate-400 rounded-lg relative whitespace-nowrap text-ellipsis
}
.todo-list-wrap.done {
    @apply bg-green-600;
}

.todo-list-text {
    @apply self-center text-left;
}
.todo-list-text.done {
    @apply line-through;
}

.content-form {
    @apply flex flex-col w-full text-lg;
}

.form-wrapper {
    @apply flex flex-col mx-3 mb-3;
}
input[type=text].form-control {
    @apply text-[15px] block w-full p-2 h-9 rounded-lg bg-gray-100 border border-solid border-gray-400 focus:border-gray-500 focus:bg-white focus:ring-0;
}
textarea.form-control {
    @apply text-[15px] block w-full p-2 h-[90px] rounded-lg bg-gray-100 border border-solid border-gray-400 focus:border-gray-500 focus:bg-white focus:ring-0;
}
.switch {
    @apply relative inline-block w-[60px] h-[34px]
}
.switch input {
    @apply opacity-0 w-0 h-0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-control:disabled {
    @apply opacity-70;
}