@tailwind components;
.loading {
    @apply absolute w-screen h-screen top-0 right-0 bg-gray-800 opacity-80 text-white z-[999999];
}
.loading > .loader {
    @apply
    absolute
    top-[45%]
    left-[32%]
    border-solid
    border-x-[16px]
    border-y-[16px]
    border-x-lime-400
    border-y-red-600
    border-t-blue-700
    border-r-green-700
    border-b-red-700
    border-l-yellow-500
    w-[100px]
    h-[100px]
    rounded-full
    animate-spin
}

.slide-enter {
    display: block;
    /* opacity: 0; */
    transform: translateX(100%);
}
.slide-enter-active {
    display: block;
    /* opacity: 1; */
    transform: translateX(0);
    transition: transform 300ms;
}
.slide-exit {
    display: none;
    /* opacity: 1; */
    transform: translateX(0);
}
.slide-exit-active {
    display: none;
    /* opacity: 0; */
    transform: translateX(100%);
    transition: transform 300ms;
}